GOOGLE_SERVICE_ACCOUNT_EMAIL=nama-service-account@project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nxxxxxxxx\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=

SHEET_SDM=SDM
SHEET_DESA=DesaDampingan
SHEET_MENUS=Menus
SHEET_KELUARGA=AnggotaKeluarga
SHEET_CREDENTIALS=Credentials
SHEET_FIELD_CONFIG=FieldConfig

ADMIN_USERNAME=admin
ADMIN_PASSWORD=ganti-dengan-password-kuat

SESSION_SECRET=ganti-dengan-string-acak-panjang
